
<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Šī ir 2. lapa</h1>
        </header>
        <div class="visualization">
            <img src="/static/scatter_year_revenue.png" alt="Histogramma">
        </div>
        <nav>
            <a href="/">Atgriezties uz sākumu</a>
        </nav>
    </div>
</body>
</html>
